{% extends "base.html" %}

{% block content %}
<div class="container">
    <form action="" method="post">
        {{ form.csrf_token }}
        <div class="form-group row ">
            <label for="gateway_id" class="col-sm-2 col-form-label">Gateway ID</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="gateway_id" value={{ form.gateway_id.data }}>
            </div>
        </div>
        <div class="form-group row">
            <label for="id" class="col-sm-2 col-form-label">Server address</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="serv_address" name="server_address" value={{
                    form.server_address.data }}>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2" for="serv_port_up">Server port Up</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="serv_port_up" name="server_port_up" value={{
                    form.server_port_up.data }}>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2" for="serv_port_down">Server port Down</label>
            <div class="col-sm-10">
                <input type=" text" class="form-control" id="serv_port_down" name="server_port_down" value={{
                    form.server_port_down.data }}>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2" for="serv_enable">Server enable</label>
            <div class="col-sm-1">
                <input type="checkbox" class="form-control" id="serv_enable" name="server_enable" checked={{
                    form.server_enable.data }}>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2" for="latitude">Latitude</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="latitude" name="latitude" value={{form.latitude.data}}>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2" for="longitude">Longitude</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="longitude" name="longitude" value={{form.longitude.data}}>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2" for="altitude">Altitude</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="altitude" name="altitude" value={{form.altitude.data}}>
            </div>
        </div>
        <div id="map" style="height: 250px;"></div>
        <div class="form-group row">
            <label class="col-sm-2" for="contact_email">Contact email</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="contact_email" name="contact_email"
                    value={{form.contact_email.data}}>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2" for="description">Description</label>
            <div class="col-sm-10">
                <textarea class="form-control" id="description" name="description">{{form.description.data}}</textarea>
            </div>
        </div>
</div>
<input type="submit" name="save" value="save" class="btn btn-primary">
<input type="submit" name="reload" value="reload" class="btn btn-primary">
<button type="button" href="#myModal" data-toggle="modal" class="btn btn-danger">Reboot</button>

<!-- Modal HTML -->
<div id="myModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header flex-column">
                <h4 class="modal-title w-100">Are you sure?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <p>Do you really want to reboot ?</p>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="submit" name="reboot" value="reboot" class="btn btn-danger">Reboot</button>
            </div>
        </div>
    </div>
</div>
</form>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

<script type="text/javascript">
    // The first parameter are the coordinates of the center of the map
    // The second parameter is the zoom level
    var map = L.map('map').setView([49.25, 4.03], 11);

    // {s}, {z}, {x} and {y} are placeholders for map tiles
    // {x} and {y} are the x/y of where you are on the map
    // {z} is the zoom level
    // {s} is the subdomain of cartodb
    var layer = L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="http://cartodb.com/attributions">CartoDB</a>'
    });

    // Now add the layer onto the map
    map.addLayer(layer);

    var markersLayer = new L.LayerGroup(); // NOTE: Layer is created here!
    map.addLayer(markersLayer);
    var lat = "{{ form.latitude.data }}";
    var lng = "{{ form.longitude.data }}";
    addMarker(lat, lng);

    map.on('click', function (e) {
        console.log(e.latlng);
        $("#latitude").val(e.latlng['lat']);
        $("#longitude").val(e.latlng['lng']);
        addMarker(e.latlng['lat'], e.latlng['lng']);
    });

    $("#latitude, #longitude").on('change', function () {
        addMarker($("#latitude").val(), $("#longitude").val());
    })

    function addMarker(lat, lng) {
        // Add marker to map at click location; add popup window
        markersLayer.clearLayers();
        var newMarker = new L.marker([lat, lng]).addTo(markersLayer);

    }


</script>

{% endblock %}